@keyframes typewriter {
    to {
        left: 100%;
    }
}

@keyframes blink-old {
    to {
        background: transparent;
    }
}

@keyframes blink {
    4% {
        background: var(--color-grey-light);
    }
    5% {
        background: transparent;
    }

    9% {
        background: transparent;
    }
    10% {
        background: var(--color-grey-light);
    }
    14% {
        background: var(--color-grey-light);
    }
    15% {
        background: transparent;
    }

    19% {
        background: transparent;
    }
    20% {
        background: var(--color-grey-light);
    }

    24% {
        background: var(--color-grey-light);
    }
    25% {
        background: transparent;
    }

    29% {
        background: transparent;
    }
    30% {
        background: var(--color-grey-light);
    }

    34% {
        background: var(--color-grey-light);
    }
    35% {
        background: transparent;
    }

    39% {
        background: transparent;
    }
    40% {
        background: var(--color-grey-light);
    }

    44% {
        background: var(--color-grey-light);
    }
    45% {
        background: transparent;
    }

    49% {
        background: transparent;
    }
    50% {
        background: var(--color-grey-light);
    }

    54% {
        background: var(--color-grey-light);
    }
    55% {
        background: transparent;
    }

    59% {
        background: transparent;
    }
    60% {
        background: var(--color-grey-light);
    }

    64% {
        background: var(--color-grey-light);
    }
    65% {
        background: transparent;
    }

    69% {
        background: transparent;
    }
    70% {
        background: var(--color-grey-light);
    }
    74% {
        background: var(--color-grey-light);
    }
    75% {
        background: transparent;
    }

    79% {
        background: transparent;
    }
    80% {
        background: var(--color-grey-light);
    }

    84% {
        background: var(--color-grey-light);
    }
    85% {
        background: transparent;
    }

    89% {
        background: transparent;
    }
    90% {
        background: var(--color-grey-light);
    }
    94% {
        background: var(--color-grey-light);
    }
    to  {
        background: green;
    }
}
@keyframes slide-down {
    to {
        transform: translate(0);
        opacity: 1;
    }
}

@keyframes slide-down-up {
    80% {
        left: 50%;
        transform: translate(-50%, 2rem);
    }
    to {
        left: 50%;
        transform: translate(-50%, 0);
    }
}

@keyframes slide-to-right {
    80% {
        left: 4rem;
        transform: translateX(0);
    }
    to {
        left: 0;
        transform: translateX(0);
    }
}

@keyframes fade-in-up {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fade-in-absolute-center {
    to {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}

@keyframes label-slide-up {
    to {
        top: -1.6rem;
        left: 0;
        font-size: 1.8rem;
        color: var(--color-white);
        opacity: 1;
    }
}

@keyframes label-slide-down {
    from {
        top: -1.6rem;
        left: 0;
        font-size: 1.8rem;
        color: var(--color-white);
        opacity: 1;
    }
    to {
        left: 2.4rem;
        font-size: 1.4rem;
        color: var(--color-grey-light);
        opacity: 0.5;
    }
}