*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    scrollbar-width: none;

    font-size: 62.5%;

    @include respond(tab-land) {
        font-size: 56.25%;
    }

    @include respond(tab-port) {
        font-size: 50%;
    }

    @include respond(big-desktop) {
        font-size: 75%;
    }
}

body {
    scrollbar-width: none;
    box-sizing: border-box;
    background: #222;
    @include respond(tab-port) {
        padding: 0;
    }
}

body::-webkit-scrollbar {
    width: 0;
    height: 0;
}

body::-moz-scrollbar {
    width: 0;
    height: 0;
}

body::-o-scrollbar {
    width: 0;
    height: 0;
}

::selection {
    background-color: $color-primary;
    color: $color-white;
}
