body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: #fff;
}

.section__title {
    font-size: 4.8rem;
    text-align: center;
    margin-top: 6rem;
    margin-bottom: 6.4rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 100;
    letter-spacing: 0.3rem;
    opacity: 0;
    text-transform: uppercase;

    @include respond(phone) {
        font-size: 3.6rem;
        margin-top: 2rem;
    }
}
