.overview {
    width: 100%;
    margin-top: 0;
    top: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    background-color: var(--background-color);
    color: var(--color-white);

    @include respond(tab-port) {
        flex-direction: column;
        align-items: center;
        padding-top: 15vh;
    }

    & > * {
        @include respond(tab-port) {
            left: 0;
            transform: translate(0, 0);
            position: relative;
            margin-bottom: 10vh;
        }

        @include respond(phone) {
            margin-bottom: 5vh;
        }
    }
}
