.work {
    position: relative;
    width: 100%;
    background-color: $color-grey-dark-3;
    padding: 6rem 0;

    &__title {
        font-size: 4.8rem;
        text-align: center;
        margin-top: 4rem;
        margin-bottom: 6.4rem;
        font-family: 'Poiret One';

        @include respond(phone) {
            font-size: 3.6rem;
            margin-top: 2rem;
        }
    }

    &__checkbox {
        display: none;
    }

    &__checkbox-1:checked ~ &__details-1 {
        visibility: visible;
        opacity: 1;
    }

    &__checkbox-2:checked ~ &__details-2 {
        visibility: visible;
        opacity: 1;
    }

    &__checkbox-3:checked ~ &__details-3 {
        visibility: visible;
        opacity: 1;
    }

    &__checkbox-4:checked ~ &__details-4 {
        visibility: visible;
        opacity: 1;
    }

    &__checkbox-5:checked ~ &__details-5 {
        visibility: visible;
        opacity: 1;
    }
}
