.header {
    display: flex;
    flex-direction: row;
    justify-content: end;
    position: fixed;
    z-index: 1000;
    background: var(--background-color);
    width: 100%;
    padding-right: 3rem;
    top: 0;
    padding-top: 3rem;

    @include respond(phone) {
        justify-content: center;
        padding-right: 0rem;
    }
}
